.tablero{

    
    display: grid;
    grid-template-columns: repeat(14,5vw);
    grid-template-rows: repeat(5,5vw);
    border-style: solid;
    border-width: 10px;
    border-radius: 10px;
    
    
}
.e1-12{
   grid-column: 2/6;
}
.e13-24{
    grid-column: 6/10;
}
.e25-36{
    grid-column: 10/14;
}
.e0{
    grid-row: 2/5;
}
.e1-18{
    grid-column: 2/4;
}
.epar{
    grid-column: 4/6;
}
.ered{
    grid-column: 6/8;
}
.eblack{
    grid-column:8/10;
}
.eimpar{
    grid-column: 10/12;
}
.e19-36{
    grid-column: 12/14;
}